.burger {
  position: absolute;
  top: 32px;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  width: 24px;
  height: 16px;

  &--closed {
    .burger__line {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 25px;
      height: 1.5px;
      background-color: #000000;
    }

    .burger__line:not(:last-child) {
      margin-bottom: 8px;
    }

    .burger__line:nth-of-type(2) {
      top: calc(50% + 8px);
    }

    .burger__line:nth-of-type(3) {
      top: calc(50% - 8px);
    }
  }

  &--opened {
    .burger__line {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 1.5px;
      background-color: #000000;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
