.button {
  box-sizing: border-box;
  padding: 7px 44px 7px 44px;
  border: none;
  background-color: $main-color;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  min-height: 40px;
  cursor: pointer;
  @media (min-width: $tablet-width) {
    &--program {
      padding: 14px 26px 14px 26px;
      width: 244px;
      min-height: 54px;
    }
  }
  @media (min-width: $desktop-width)  {
    padding: 10px 30px 10px 30px;
  }
  &:hover {
    background-color: #5EAA2F;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &--download {
    background-color: #F2F2F2;
    color: #444444;
    &:hover {
      background-color: #EBEBEB;
    }
    &:active {
      color: rgba($color: #444444, $alpha: 0.3);
    }
  }
}
