.card-description {
  font-family: $font-family-extra;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  &--extra {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
