.card-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  &--extra {
    font-size: 14px;
    line-height: 14px;
  }
}
