.catalog-download {
  box-sizing: border-box;
  position: relative;
  color: #444444;
  @media (min-width: $tablet-width) {
    padding: 161px 38px 39px 38px;
    border: 2px solid #F2F2F2;
  }
  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #D3D3D3;
    color: #000000;
    @media (min-width: $tablet-width) {
      top: 82px;
      width: 60px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #D3D3D3;
    color: #000000;
    @media (min-width: $tablet-width) {
      top: 52px;
      height: 60px;
    }
  }
  @media (min-width: $desktop-width) {
    padding: 159px 36px 39px 36px;
  }
}

.catalog-download__subtitle {
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
  line-height: 22px;
  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
  @media (min-width: $desktop-width) {
    padding-right: 2px;
  }
}

.catalog-download__decription {
  margin-bottom: 21px;
  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto;
    margin-bottom: 86px;
    line-height: 18px;
  }
  @media (min-width: $desktop-width) {
    padding-right: 2px;
  }
}

.catalog-download__button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @media (min-width: $desktop-width) {
    width: 168px;
    font-size: 16px;
    line-height: 20px;
  }
}
