.catalog-extra {
  margin-bottom: 35px;
  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.catalog-extra__wrapper {
  box-sizing: border-box;
  padding: 25px 20px 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
  }
}

.catalog-extra__title {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 22px;
  margin: 0;
  margin-bottom: 35px;
  position: relative;
  background-color: #ffffff;
  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(50%);
    background-color: #68B738;
    z-index: -1;
    @media (min-width: $desktop-width) {
      top: 58%;
    }
  }
  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      width: 100vw;
      height: 2px;
      top: 50%;
      right: 0;
      transform: translateY(50%);
      background-color: #68B738;
      z-index: -1;
    }
    @media (min-width: $desktop-width) {
      top: 58%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-left: 37px;
    padding-right: 36px;
  }
  @media (min-width: $desktop-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
  }
}

.catalog-extra__main-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;;
  }
}

.catalog-extra__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  margin-bottom: 34px;
  @media (min-width: $tablet-width) {
    border: 1px solid #CDCDCD;
    margin-bottom: 68px;
  }
  @media (min-width: $desktop-width) {
    border: none;
    width: 73.5%;
    margin-bottom: 0;
  }
}

.catalog-extra__gift {
  display: block;
}
