.catalog-extra-card {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #CDCDCD;
  &:first-child {
    border-top: 1px solid #CDCDCD;
    @media (min-width: $tablet-width) {
      border-top: none;
    }
    @media (min-width: $desktop-width) {
      border-top: 1px solid #CDCDCD;
    }
  }
  &:last-child {
    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
    @media (min-width: $desktop-width) {
      border-bottom: 1px solid #CDCDCD;
    }
  }
  @media (min-width: $tablet-width) {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 26px 38px 28px 38px;
  }
  @media (min-width: $desktop-width) {
    width: 896px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1px 15px 1px;
  }

}

.catalog-extra-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    width: 612px;
    margin-right: 38px;
  }
}

.catalog-extra-card__subtitle {
  margin: 0;
  margin-bottom: 13px;
}

.catalog-extra-card__details-list {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;@media (min-width: $tablet-width) {
    width: 36%;
  }

}

.catalog-extra-card__details-item {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.catalog-extra-card__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  @media (min-width: $tablet-width) {
    width: 100%;
  }
  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.catalog-extra-card__details-feature {
  text-align: right;
  margin-right: 48px;
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.catalog-extra-card__details-meaning {
  margin: 0;
  min-width: 44px;
  text-align: right;
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
