.catalog-extra-card {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      border-top: 1px solid #cdcdcd;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 16px 0;
  }
}

.catalog-extra-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 612px;
    margin-right: 36px;
    margin-bottom: 0;
  }
}

.catalog-extra-card__subtitle {
  padding-left: 1px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
    line-height: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog-extra-card__details-list {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 36%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    margin-bottom: 0;
    width: 47.4%;
  }
}

.catalog-extra-card__details-item {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.catalog-extra-card__button {
  display: block;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    padding: 7px 26px 7px 26px;
  }
}

.catalog-extra-card__details-feature {
  text-align: right;
  margin-right: 48px;

  @media (min-width: $desktop-width) {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    padding-left: 2px;
  }
}

.catalog-extra-card__details-meaning {
  margin: 0;
  min-width: 44px;
  text-align: right;

  @media (min-width: $desktop-width) {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}
