.catalog-main {
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.catalog-main__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-main__headline {
  margin: 0;
  padding: 27px 20px 40px 20px;
  text-align: left;
  @media (min-width: $tablet-width) {
    padding: 64px 30px 41px 30px;
    margin-bottom: 122px;
    width: 440px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 165px;
    padding-top: 74px;
    padding-bottom: 0;
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px ;
  }
}

.catalog-main__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100%;
  /* gap: 8px; */
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 30px;
    grid-template-columns: 1fr 1fr;
    gap: 141px 8%;
  }
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    grid-template-columns: repeat(4, 245px);
    gap: 142px 80px;
  }

}

.catalog-main__item {
  padding: 20px 20px 24px 20px;
  border-bottom: 1px solid #EBEBEB;
  &:first-child {
    border-top: 1px solid #EBEBEB;
    @media (min-width: $tablet-width) {
      border: none;
    }
  }
  @media (min-width: $tablet-width) {
    background-color: #F2F2F2;
    border: none;
    padding: 8px 36px 39px 36px;
  }
  @media (min-width: $desktop-width) {
    border: none;
    padding: 1px 30px 40px 35px;
  }
}

.catalog-main__download {
  box-sizing: border-box;
  margin-top: 25px;
  padding: 53px 20px 24px 20px;
  border-bottom: 1px solid #EBEBEB;
  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border: none;
    margin-top: 0;
  }
  @media (min-width: $desktop-width) {
    padding: 1px 30px 40px 35px;
  }


}
