.catalog-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 12px;
  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  @media (min-width: $desktop-width)  {
    margin-bottom: 0;
  }
}

.catalog-card__decription {
  width: 50%;
  @media (min-width: $tablet-width) {
    width: 252px;
  }
  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.catalog-card__subtitle {
  margin: 0;
  color: #222222;
  width: 80px;
  margin-bottom: 14px;
  @media (min-width: $tablet-width) {
    text-align: center;
    width: 175px;
    margin: 0 auto;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: $desktop-width) {
    width: 145px;
    line-height: 21px;
    margin-bottom: 18px;
  }
}

.catalog-card__icon {
  box-sizing: border-box;
  width: 50%;
  min-height: 112px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: 168px;
    min-height: 200px;
    margin-bottom: 34px;
    margin-top: -73px;
  }
  @media (min-width: $desktop-width) {
    width: 172px;
    min-height: 196px;
    margin-bottom: 46px;
    align-items: flex-end;
    margin-top: -79px;
  }
  &--morepadding {
    padding-bottom: 12px;
    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
    @media (min-width: $desktop-width) {
      padding-bottom: 0px;
    }
  }
  &--nopadding {
    padding-bottom: 0;
    /* @media (min-width: $desktop-width) {
      padding-bottom: 10px;
    } */
  }
  &--bigimg {
    @media (min-width: $tablet-width) {
      margin-bottom: 27px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }
}

.catalog-card__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.catalog-card__details-list {
  margin: 0 auto;
  padding: 0;
  @media (min-width: $tablet-width) {
    width: 252px;
    margin-bottom: 33px;
  }
  @media (min-width: $desktop-width) {
    width: 170px;
    padding-right: 2px;
  }
}

.catalog-card__details-item {
  display: flex;
  justify-content: space-between;
  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    padding-top: 7px;
    border-bottom: 1px solid #CDCDCD;
  }
}

.catalog-card__button {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    width: 248px;
  }
  @media (min-width: $desktop-width) {
    width: 168px;
    margin-left: 2px;
  }
}
