.contacts {
  &--darker {
  background-color: #F2F2F2;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  padding: 0 20px 0 20px;
}

.contacts__wrapper-address {
  padding: 26px 0 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 139px;
}

.contacts__map {
  display: flex;
  justify-content: center;
  align-items: center;
}
