.contacts {
  &--darker {
  background-color: #F2F2F2;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper-address {
  box-sizing: border-box;
  padding: 26px 0 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: $tablet-width) {
    padding: 57px 40px 59px 40px;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    padding: 56px 80px 56px 80px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 139px;
  @media (min-width: $tablet-width) {
    padding-top: 5px;
    width: 175px;
    font-size: 20px;
    line-height: 26px;
  }
}


.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 160px;
    text-align: right;
  }
  @media (min-width: $desktop-width) {
    text-align: left;
    width: 155px;
  }
}

.contacts__address-street {
  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 20px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.contacts__map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 362px;
  border: none;
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
