.copyright__link {
  padding: 22px 0 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  font-family: $font-family-extra;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  cursor: pointer;
  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
  @media (min-width: $desktop-width) {
    margin-right: 22px;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  color: #666666;
  &:hover {
    color: $main-color;
  }
  &:active {
    opacity: 0.3;
  }
  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}
