.form-program {
  display: flex;
  flex-direction: column;
}

.form-program__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  width: 230px;
  margin-bottom: 39px;
  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    width: 340px;
  }
}

.form-program__group {
  margin: 0;
  &--contacts {
    margin-bottom: 24px;
  }
  &--comment {
    margin-bottom: 23px;
  }
  &--checkbox {
    margin-bottom: 34px;
  }
}

.form-program__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-program__note {
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  margin-top: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}

.form-program__button {
  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 61px;
    margin-bottom: 72px;
  }
}
