.form-program-group {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding: 0;
  &--radio {
    padding: 22px 0 19px 0;
    @media (min-width: $tablet-width) {
      border: 1px solid #D9D9D9;
      padding: 25px 27px 29px 27px;
      margin-bottom: 71px;
      width: 630px;
    }
    @media (min-width: $desktop-width) {
      padding: 25px 28px 25px 28px;
      width: 568px;
    }
  }
  &--contacts {
    position: relative;
    margin-bottom: 24px;
    border: none;
    @media (min-width: $tablet-width) {
      padding: 0;
    }
    @media (min-width: $desktop-width) {
     margin-bottom: 69px;
    }
  }
  &--comment {
    padding: 0;
    position: relative;
    border: none;
    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
  &--checkbox {
    position: relative;
    border: none;
    @media (min-width: $tablet-width) {
      padding: 0;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
     }
  }
  legend {
    margin: 0;
    padding: 0;
  }
  &--text {
    padding-bottom: 27px;
    @media (min-width: $tablet-width) {
      padding: 0;
      margin-bottom: 72px;
      border-bottom: none;
    }
    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }
}

.form-program-group__label {
  &:not(:last-child) {
    margin-bottom: 13px;
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form-program-group__title {
  margin: 0;
  padding-top: 23px;
  margin-bottom: 36px;
  &--contacts {
    width: 190px;
    &::after {
      position: absolute;
      content: "";
      width: 99px;
      height: 2px;
      top: 38px;
      right: 0;
      background-color: $main-color;
      z-index: 1;
      @media (min-width: $tablet-width) {
        width: 145px;
        right: -65px;
      }
      @media (min-width: $desktop-width) {
        width: 778px;
        right: -110px;
      }
    }
    &::before {
      @media (min-width: $tablet-width) {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        top: 38px;
        left: -69px;
        background-color: $main-color;
        z-index: 1;
      }
      @media (min-width: $desktop-width) {
        width: 70px;
        left: -110px;
      }
    }
    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
      width: 515px;
    }
  }
  &--comment {
    width: 122px;
    &::after {
      position: absolute;
      content: "";
      width: 158px;
      height: 2px;
      top: 35px;
      right: 0;
      background-color: $main-color;
      z-index: 1;
      @media (min-width: $tablet-width) {
        width: 478px;
        right: -65px;
      }
      @media (min-width: $desktop-width) {
        width: 1108px;
        right: -110px;
      }
    }
    &::before {
      @media (min-width: $tablet-width) {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        top: 38px;
        left: -69px;
        background-color: $main-color;
        z-index: 1;
      }
      @media (min-width: $desktop-width) {
        width: 70px;
        left: -110px;
      }
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 76px;
    }
  }

  &--extra {
    width: 142px;
    &::after {
      position: absolute;
      content: "";
      width: 136px;
      height: 2px;
      top: 35px;
      right: -20px;
      background-color: $main-color;
      z-index: 1;
      @media (min-width: $tablet-width) {
        width: 446px;
        right: -65px;
      }
      @media (min-width: $desktop-width) {
        width: 1078px;
        right: -110px;
      }
    }
    &::before {
      @media (min-width: $tablet-width) {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        top: 38px;
        left: -69px;
        background-color: $main-color;
        z-index: 1;
      }
      @media (min-width: $desktop-width) {
        width: 70px;
        left: -110px;
      }
    }
  }
}

.form-program-group__textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 9px 12px 9px 15px;
  width: 280px;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #E7E7E7;
  @media (min-width: $tablet-width) {
    width: 631px;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form-program-group__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

