.form-program-group {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 65px 0 70px;
  }
  &--radio {
    margin-bottom: 26px;
    padding: 22px 20px 17px 20px;
    @media (min-width: $tablet-width) {
      border: 1px solid #D9D9D9;
      padding: 25px 27px 23px 27px;
      margin-bottom: 73px;
      width: 100%;
    }
    @media (min-width: $desktop-width) {
      padding: 25px 28px 29px 28px;
      width: 46.5%;
      margin-bottom: 0;
    }
  }
  &--contacts {
    position: relative;
    margin-bottom: 24px;
    border: none;
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;
      margin-bottom: 65px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }
  &--comment {
    padding: 0 20px;
    position: relative;
    border: none;
    margin-bottom: 23px;
    @media (min-width: $tablet-width) {
      padding: 0;
      width: 100%;
      margin-bottom: 63px;
    }
  }
  &--checkbox {
    position: relative;
    border: none;
    @media (min-width: $tablet-width) {
      padding: 0;
      margin-bottom: 52px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 59px;
     }
  }
  legend {
    margin: 0;
    padding: 0;
  }
  &--text {
    box-sizing: border-box;
    padding-bottom: 24px;
    @media (min-width: $tablet-width) {
      width: 100%;
      padding: 0;
      margin-bottom: 72px;
      border-bottom: none;
    }
    @media (min-width: $desktop-width) {
      width: 46.7%;
      margin-right: 80px;
      margin-bottom: 0;
    }
  }
}

.form-program-group__title {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  background-color: #ffffff;
  display: inline-block;
  &--contacts {
    width: 216px;
    padding-right: 14px;
    line-height: 26px;
    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 2px;
      top: 30%;
      transform: translateY(50%);
      left: 0;
      background-color: $main-color;
      z-index: -1;
    }
    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
      width: 602px;
      padding-right: 40px;
      padding-left: 39px;
      margin-left: -39px;
      line-height: 36px;
      &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 2px;
        top: 60%;
        transform: translateY(50%);
        right: 0;
        background-color: $main-color;
        z-index: -1;
      }
      &::before {
        top: 60%;
      }
    }
  }
  &--comment {
    box-sizing: border-box;
    width: 144px;
    padding-right: 22px;
    background-color: #ffffff;
    margin-bottom: 38px;
    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 2px;
      top: 54%;
      transform: translateY(50%);
      left: 0;
      background-color: $main-color;
      z-index: -1;
      @media (min-width: $tablet-width) {
        top: 59%;
      }
    }
    @media (min-width: $tablet-width) {
      width: 262px;
      padding-right: 40px;
      padding-left: 39px;
      margin-left: -39px;
      &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 2px;
        top: 59%;
        transform: translateY(50%);
        right: 0;
        background-color: $main-color;
        z-index: -1;
      }
    }
    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--extra {
    box-sizing: border-box;
    width: 164px;
    padding-right: 22px;
    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 2px;
      top: 57%;
      transform: translateY(50%);
      left: 0;
      background-color: $main-color;
      z-index: -1;
    }
    @media (min-width: $tablet-width) {
      width: 302px;
      padding-right: 40px;
      padding-left: 39px;
      margin-left: -39px;
      margin-bottom: 57px;
      &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 2px;
        top: 57%;
        transform: translateY(50%);
        right: 0;
        background-color: $main-color;
        z-index: -1;
      }
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 57px;
    }
  }
}

.form-program-group__textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 9px 12px 9px 15px;
  width: 100%;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #E7E7E7;
  @media (min-width: $tablet-width) {
    padding: 10px 12px 9px 15px;
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
  }
  @media (min-width: $desktop-width) {
    min-height: 174px;
  }
}

.form-program-group__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
  &--contacts {
    flex-direction: column;
    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: center;
    }
  }
  &--extra {
    @media (min-width: $tablet-width) {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px 123px;
    }
    @media (min-width: $desktop-width) {
      width: 98%;
      display: grid;
      grid-template-columns: repeat(4, 221px);
      gap: 61px 104px;
    }
  }
}
