.form-checkbox {
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid #CDCDCD;
  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}
