.form-program {
  display: flex;
  flex-direction: column;
}

.form-program__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  width: 230px;
  margin-bottom: 39px;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    width: 340px;
    margin-bottom: 67px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.form-program__group {
  margin: 0;
}

.form-program__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}
.form-program__wrapper-button {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 34px;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 0;

  }
  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    margin-top: 0;
  }
}

.form-program__note {
  box-sizing: border-box;
  margin-top: 21px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 0;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 2px;
  }
}

.form-program__button {
  width: 100%;
  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 62px;
    width: 44.9%;
    min-height: 52px;
    padding: 13px 45px 13px 45px;
    font-size: 20px;
    line-height: 26px;
  }
  @media (min-width: $desktop-width) {
    margin-right: 81px;
    width: 46.4%;
  }
}
