.form-program-label {
  display: flex;
  align-items: center;
  &--extra {
    position: relative;
  }
  &--extra:not(:last-child) {
    margin-bottom: 12px;
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
  &--radio {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &--email {
    margin-bottom: 13px;
    @media (min-width: $desktop-width) {
      width: 46.5%;
      margin-right: 80px;
      margin-bottom: 0;
    }
  }
  &--tel {
    @media (min-width: $desktop-width) {
      width: 46.5%;
    }
  }
  &--text {
    &:not(:last-child) {
      margin-bottom: 13px;
      @media (min-width: $desktop-width) {
        margin-bottom: 20px;
      }
    }
  }
}

.form-program-label__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  &--dark {
    color: #000000;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }
  &--radio {
    padding: 6px 6px 6px 45px;
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 5px 6px 5px 60px;


    }
  }
  &--checkbox {
    padding: 5px 5px 7px 44px;
    @media (min-width: $tablet-width) {
      padding: 5px 5px 7px 59px;
    }
  }
}

.form-program-label__input {
  margin: 0;
  box-sizing: border-box;
  padding: 13px 14px 14px 14px;
  border: 1px solid #E7E7E7;
  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &--text {
    padding: 10px 20px 11px 20px;
    flex-grow: 1;
    min-height: 45px;
    &::placeholder {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: #444444;
      @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    @media (min-width: $desktop-width) {
      min-height: 52px;
      padding: 20px 20px 11px 20px;
    }
  }
  &--radio {
    margin-right: 15px;
    flex-grow: 0;
  }

  &--radio[type="radio"]:checked + .form-program-label__radio::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $main-color;
  }

  &--checkbox {
    margin-right: 15px;
    flex-grow: 0;
  }

  &--checkbox[type="checkbox"]:checked + .form-program-label__checkbox::before {
    position: absolute;
    content: "";
    background: url("../img/form/checkbox.svg") no-repeat center center;
    width: 18px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    border: 1px solid #CDCDCD;
  }
  &:focus {
    border: 2px solid #444444;
  }
}
