.form-program-label {
  display: flex;
  align-items: center;
  &--info {
    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }
  &--extra {
    &:nth-child(2n+1) {
      @media (min-width: $tablet-width) {
        margin-right: 123px;
      }
    }
    @media (min-width: $tablet-width) {
      width: 221px;
    }
    &:not(:last-child) {
      @media (min-width: $desktop-width) {
        margin-right: 104px;
      }
    }

  }
}

.form-program-label__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  &--dark {
    color: #000000;
  }
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-program-label__input {
  margin: 0;
  box-sizing: border-box;
  padding: 13px 14px 14px 14px;
  border: 1px solid #E7E7E7;
  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444
  }
  &--text {
    flex-grow: 1;
    min-height: 45px;
    @media (min-width: $tablet-width) {
      width: 551px;
    }
    @media (min-width: $desktop-width) {
      width: 486px;
      min-height: 52px;
    }
  }
  &--radio {
    margin-right: 15px;
    flex-grow: 0;
  }
  &--checkbox {
    margin-right: 15px;
    flex-grow: 0;
  }
  &--email {
    @media (min-width: $tablet-width) {
      width: 551px;
    }
    @media (min-width: $desktop-width) {
      margin-right: 78px;
      width: 486px;
    }
  }
  &--tel {
    @media (min-width: $tablet-width) {
      width: 535px;
    }
    @media (min-width: $desktop-width) {
      width: 472px;
    }
  }
}
