.gift {
  display: block;
  width: 280px;
  height: 290px;
  background-color: green;
  background: url("../img/gift/bg-gift.png") no-repeat center center;
}

.gift__icon {
  color: #ffffff;
  padding-top: 59px;
  text-align: center;
  margin-bottom: 48px;
}

.gift__subtitle {
  margin: 0;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
