.headline {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}
