.logo-text {
  width: 128px;
  height: 24px;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.logo-text__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}
