.main-header__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  z-index: 1;

  &--noborder {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    align-items: center;
    padding-top: 24px;
    border-bottom: none;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    align-items: center;
    padding-top: 53px;
    width: 1440px;
    z-index: 1;
    padding-bottom: 0;
  }
}

.main-header__logo {
  display: block;
  padding-left: 20px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 0;
  }
}
