.main-header__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  padding-bottom: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-header__logo {
  display: block;
}
