.main-nav {
  background-color: #ffffff;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 59%;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 482px;
    background-color: transparent;
    padding-right: 0;
  }

  &--closed {
    .main-nav__list {
      display: none;

      @media (min-width: $tablet-width) {
        display: flex;
      }

      @media (min-width: $desktop-width) {
        background-color: transparent;
      }
    }
  }

  &--opened {
    .main-nav__list {
      position: absolute;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #ffffff;
      z-index: 1;

      @media (min-width: $tablet-width) {
        display: flex;
        position: static;
      }

      @media (min-width: $desktop-width) {
        background-color: transparent;
      }
    }

    .burger__line {
      display: none;
    }

    .burger::before,
    .burger::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 1.5px;
      background-color: #000000;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    .burger::before {
      transform: rotate(45deg);
    }

    .burger::after {
      transform: rotate(-45deg);
    }
  }

  &--nojs {
    .burger {
      display: none;
    }

    .main-nav__list {
      display: block;
      position: static;

      @media (min-width: $tablet-width) {
        display: flex;
        position: static;
      }
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 480px;
  }
}

.main-nav__item {
  padding: 22px 20px 24px 20px;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-right: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 32px;
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-right: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 37px;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.main-nav__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  &--active {
    position: relative;

    &::after {
      @media (min-width: $tablet-width) {
        position: absolute;
        content: "";
        right: 0;
        left: 0;
        bottom: -10px;
        height: 2px;
        background-color: $main-color;
      }

      @media (min-width: $desktop-width) {
        bottom: -8px;
        background-color: #ffffff;
      }
    }
  }

  &--dark {
    @media (min-width: $desktop-width) {
      color: #111111;
    }
  }

  &--dark-active {
    position: relative;

    &::after {
      @media (min-width: $tablet-width) {
        position: absolute;
        content: "";
        right: 0;
        left: 0;
        bottom: -10px;
        height: 2px;
        background-color: $main-color;
      }
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__burger {
  margin: 0;
  padding: 0;
}
