.program-selection__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    padding: 64px 70px 0 70px;
  }
  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 74px 110px 0 110px;
  }
}

.program-selection__headline {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 37px;
  padding: 27px 20px 0 20px;
  @media (min-width: $tablet-width) {
    width: 436px;
    padding: 0;
    margin-bottom: 54px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.program-selection__form {
  margin-bottom: 32px;
  padding: 0;
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

