.programs {
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.programs__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.programs__list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: 88vw;
  row-gap: 20px;
  @media (min-width: $tablet-width) {
    margin: 0;
    grid-template-columns: 93vw;
    row-gap: 30px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}
