.program-selection__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    padding: 48px 70px 0 65px;
  }
  @media (min-width: $desktop-width) {
    padding: 56px 110px 0 110px;
  }
}

.program-selection__headline {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 37px;
  padding: 27px 0 0 0;
  @media (min-width: $tablet-width) {
    width: 436px;
    padding: 0;
  }
}

.program-selection__form {
  margin-bottom: 32px;
  padding: 0;
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

