.programs-item {
  box-sizing: border-box;
  padding: 23px 20px 18px 20px;
  background-color: #F2F2F2;
  width: auto;
  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    padding: 47px 52px 55px 52px;
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.programs-item__column {
  @media (min-width: $tablet-width){
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.programs-item__wrapper-title {
  padding-left: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 23px;
  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 26px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}

.programs-item__icon {
  position: relative;
  margin-right: 19px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $main-color;
  color: #000000;
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 47%;
    transform: translate(0, -50% );
    width: 200px;
    height: 200px;
    margin-right: 0;
  }
  @media (min-width: $desktop-width)  {
    position: relative;
    width: 100px;
    height: 100px;
    transform: translate(0, 0);
    margin-right: 62px;
  }
}

.programs-item__icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-first {
    top: 46%;
    @media (min-width: $tablet-width) {
      top: -10px;
      transform: translateX(-50%);
      width: 140px;
      height: 194px;
    }
    @media (min-width: $desktop-width) {
      top: -6px;
      transform: translateX(-50%);
      width: 70px;
      height: 97px;
    }
  }

  &-second {
    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
    }
    @media (min-width: $desktop-width) {
      top: 20px;
      transform: translateX(-50%);
      width: 134px;
      height: 56px;
    }
  }
}

.programs-item__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-item__description {
  padding-bottom: 21px;
  font-family: $font-family-extra;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #D9D9D9;
  @media (min-width: $tablet-width){
    width: 57.5%;
    border: none;
    padding: 0;
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 470px;
    margin-bottom: 23px;
  }
}

.programs-item__link {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin-top: 15px;
  padding: 4px 48px 4px 0;
  width: 134px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  &::after {
    content: "";
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-image: url("../img/icon-arrow.svg");
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    width: 165px;
  }
  @media (min-width: $desktop-width) {
    width: 168px;
    margin-top: 0;
    padding-right: 58px;
  }
  &:hover::after {
    width: 32px;
    right: 0;
    background-image: url("../img/icon-arrow-hover.svg");
  }
  &:active {
    opacity: 0.3;
  }
}
