.program-selection__wrapper {
  box-sizing: border-box;
}

.program-selection__headline {
  margin: 0;
  margin-bottom: 37px;
  padding: 27px 20px 0 20px;
  border-top: 1px solid #D9D9D9;
}

.program-selection__form {
  margin-bottom: 32px;
}

