.promo {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 696px;
    margin-bottom: 80px;
  }
}

.promo__main {
  margin: 0 auto;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    min-height: 302px;
    background-color: #63A63A;
    z-index: -1;
    background-image: url("../img/promo/promo-cat-bg.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/promo-cat-bg@2x.png");
      background-size: 320px auto;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      content: '';
      width: 50%;
      position: absolute;
      left: auto;
      transform: none;
      right: 0;
      top: 0;
      min-height: 694px;
      background-color: #63A63A;
      z-index: 0;
      background-image: url("../img/promo/promo-cat-bg-desktop.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 720px auto;
      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo/promo-cat-bg-desktop@2x.png");
        background-size: 720px auto;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    background: #ffffff;
    color: #000000;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -112px;
    min-height: 694px;
  }
  /* background-color: #ffffff;
  background-image: url("../img/promo/promo-cat-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo/promo-cat-bg@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    background: #ffffff;
    color: #000000;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to left, #ffffff 50%, $main-color 50%);
    background-image: url("../img/promo/promo-cat-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: 50vw top;
    margin: 0;
    margin-top: -112px;
    min-height: 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/promo-cat-bg-desktop@2x.png");
    }
  } */
}

/* .promo__main {
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/promo/promo-cat-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo/promo-cat-bg@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    background: #ffffff;
    color: #000000;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to left, #ffffff 50%, $main-color 50%);
    background-image: url("../img/promo/promo-cat-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: 50vw top;
    margin: 0;
    margin-top: -112px;
    min-height: 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/promo-cat-bg-desktop@2x.png");
    }
  }
} */

.promo__wrapper {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    z-index: 1;
  }
}

.promo__headline {
  display: block;
  padding: 0;
  margin: 0 auto;
  padding-top: 27px;
  margin-bottom: 25px;
  color: #ffffff;
  width: 260px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 41px;
    padding-top: 62px;
    color: #000000;
    padding-left: 87px;
    width: 420px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 223px;
    padding-left: 0;
  }
}

.promo__description {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    width: 285px;
    color: #000000;
    padding-left: 89px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-left: 0;
  }
}

.promo__img {
  margin-bottom: 1px;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    object-fit: contain;
    display: block;
    position: relative;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    display: block;
    position: absolute;
    border-color: transparent;
    top: 141px;
    right: 50%;
    transform: translateX(390px);
    margin-bottom: 3px;
  }
}

.promo__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  text-align: center;
  min-height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    position: absolute;
    bottom: 60.2%;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
