.range-scale {
  box-sizing: border-box;
  padding: 4px 6px 4px 6px;
  position: relative;
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background: #dcdcdc;
    border: none;
  }
}

.range-scale__toggle {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 6px;
  background-color: $main-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &--past {
    top: 50%;
    left: 0;
    transform: translate(6px, -50%);

    @media (min-width: $tablet-width) {
      transform: translate(-50%, -50%);
    }
  }

  &--present {
    display: none;

    @media (min-width: $tablet-width) {
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%);
    }
  }

  &--future {
    top: 50%;
    right: 0;
    transform: translate(-6px, -50%);

    @media (min-width: $tablet-width) {
      transform: translate(50%, -50%);
    }
  }

  &--mobile-active {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #cdcdcd;
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #68b738;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--tablet-active {
    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }


  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
}
