.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.range__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
