.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  @media (min-width: $tablet-width) {
    width: 592px;
    margin-bottom: 56px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    height: 40px;
  }
}

.range__label {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  @media (min-width: $tablet-width) {
    width: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.24)
  }
  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  &:active {
    border-bottom: none;
  }
}
