.range {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  @media (min-width: $tablet-width) {
    padding: 5px 10px;
    width: 592px;
  }
  @media (min-width: $desktop-width) {
    padding-left: 12px;
    padding-right: 8px;
    height: 40px;
  }
}

.range__label {
  padding: 0 4px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.24)
  }
  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  &:active {
    border-bottom: none;
  }
}
