.rules {
  margin-bottom: 50px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.rules__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet-width) {
    align-items: flex-start;
    border-bottom: 1px solid #E6E6E6;
  }
  @media (min-width: $desktop-width) {
    border: none;
  }
}

.rules__title {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
  min-width: 280px;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }@media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.rules__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 136px;
    padding-bottom: 46px;
    counter-reset: rule;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 245px) 250px;
    gap: 80px;
    padding-bottom: 0;
  }
}

.rules__item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: $tablet-width) {
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 280px;
  }
  &::before {
    @media (min-width: $tablet-width) {
      counter-increment: rule;
      content: counter(rule) " ";
      right: 0;
      top: 0;
      position: absolute;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #F2F2F2;
      z-index: -1;
    }
  }
  &:first-child::before {
    right:20px;
    @media (min-width: $desktop-width) {
      right: 20px;
    }
  }
}

.rules__img {
  width: 60px;
  height: 60px;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.rules__description {
  font-family: $font-family-extra;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 71%;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 248px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
