.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 20px 24px;
  padding-right: 4px;
  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

